@media only screen and (max-width: 750px) {
    .onlineMenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
        min-width: 310px;
    }
     
    .link {
        font-size: 16px;
        font-family: Roboto, Arial, sans-serif;
        text-transform: uppercase;
        color: #585858;
        text-decoration: none;
    }

    .onlineMenuLogo, .link {
        display: flex;
        justify-content: center;
        padding-top: 7px;
        padding-bottom: 8px;
    }

    .image {
        width: 150px
    }
} 


@media only screen and (min-width: 750px) {
    .onlineMenu {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        padding-left: 0;
    }

    .onlineMenuLogo {
        display: flex;
        justify-content: center;
        padding-left: 5px;
    }

    .link, .onlineMenuLogo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        text-align: center;
    }

    .image {
        width: 185px
    }
}


@media only screen and (min-width: 992px) {
    .onlineMenu {
        display: flex;
        align-items: center;
        text-decoration: none;
        background-color: #f4f4f4;
        margin: 0;
    }
     
    .link {
        font-size: 19px;
        padding: 3px 25px;
    }

   .onlineMenuLogo {
        padding: 3px 0px;
    }
    
    .image {
        width: 250px;
        padding: 5px 0;
    }
    
}


.onlineMenu {
    text-decoration: none;
    list-style-type: none;
    background-color: #f4f4f4;
    margin: 0;
}
 
.link {
    font-family: Roboto, Arial, sans-serif;
    text-transform: uppercase;
    color: #585858;
    text-decoration: none;
}

.onlineMenuLogo {
    vertical-align: baseline
}