/* tablet */

@media only screen and (max-width: 992px) {
    .homePage__img {
        display: none
    }

    .container__homePage {
        display: flex;
        justify-content: center;
        margin-top: 28px;
        margin-left: 20px
    }

    .login {
        display: flex;
        justify-content: center;
        max-width: 270px;
        margin-left: 20px;
    }
    
} 


@media only screen and (min-width: 992px) {
    .homePage__imgContainer {
        width: 75%
    }
        
    .homePage__img {
        width: 84%;
        padding-left: 20px
    }


    .container__homePage {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 28px;
        margin-left: 20px
    }
    
    
}


