/* .input {
    border: 1px solid #d2d2d2;
    padding: 8px 10px;
    margin-top: 8px;
    margin-bottom: 25px;
    border-radius: 3px;
    height: 23px;
    font-size: 18px;
    color: #4a4a4a;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
    width: 260px
}

.input__balance {
    border: 1px solid #d2d2d2;
    padding: 8px 10px;
    margin-top: 8px;
    margin-bottom: 25px;
    border-radius: 3px;
    height: 23px;
    font-size: 18px;
    color: "#4a4a4a";
    box-shadow: "inset 1px 1px 2px rgba(0; 0; 0; 0.2)";
    width: "100px"
}

.button {
    margin-left: 30
}

.currency {
    border: 1px solid #d2d2d2;
    padding: 18px 10px;
    margin-top: 8px;
    margin-bottom: 25px;
    border-radius: 3px;
    font-size: 16px;
    color: #4a4a4a;
    background-color: white;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-family: Roboto, Arial, sans-serif
}

label {
    font-size: 18px;
    color: #4a4a4a;
    font-family: Roboto, Arial, sans-serif
} */
