@media only screen and (max-width: 690px) {
    ul {
        display: flex;
        align-items: center;
    }

    .link {
       display: flex;
       flex-direction: column;
       font-size: 15px;
       padding-bottom: 8px;
       padding-top: 7px;
       padding-left: 20px;
    }

    li {
       flex-direction: column;

    }
} 


@media only screen and (min-width: 700px) {
    .link {
        font-size: 19px;
        padding: 22px 15px 22px 47px;
    }
}
ul {
    display: flex;
    flex-wrap: wrap;
    background-color: #f4f4f4;
    padding: 15px 63px 15px 35px;
    margin: 0;
    align-items: center;
    vertical-align: baseline;
    list-style-type: none;
}

.link {
    font-size: 19px;
    font-family: Roboto, Arial, sans-serif;
    text-transform: uppercase;
    color: #585858;
    text-decoration: none;
}

