/* tablet */

@media only screen and (max-width: 992px) {
    .homePage__img {
        display: none
    }

    .homePage__form {
        width: 49%;
        background-color: red;
        margin-top: 30px;
        padding-right: 10px
    }

    .form__input {
        width: 88%;
        display: flex;
        flex-direction: column;
    }
} 


@media only screen and (min-width: 992px) {
    .homePage__imgContainer {
        width: 75%
    }
        
    .homePage__img {
        width: 87%;
        padding-left: 20px
    }

    .form__input {
        width: 81%;
    }

    .homePage__form {
        width: 25%;
        background-color: red;
    }
}


.container__homePage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
    margin-left: 20px
}

.homePage__form {
    min-width: 270px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding-left: 30px;
    margin-right: 115px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #f4f4f4;
    
}


.form__input {
    border: 1px solid #d2d2d2;
    padding: 8px 10px;
    margin-top: 8px;
    margin-bottom: 25px;
    border-radius: 3px;
    height: 23px;
    font-size: 18px;
    color: #4a4a4a;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
    min-width: 150px
}

